<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="col-lg-3">
      <a routerLink="/" class="navbar-brand mt-2">
        <img [src]="brand" [alt]="title" />
        <span class="fs-4 fw-bold">{{ title | titlecase }}</span>
      </a>
    </div>
    <button
      (click)="dropdownNavbar = !dropdownNavbar"
      class="navbar-toggler"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngStyle]="{
        display: dropdownNavbar ? 'block' : 'none'
      }"
      class="collapse navbar-collapse justify-content-between"
    >
      <form class="d-flex col-lg-7 mt-2" (submit)="$event.preventDefault()">
        <input
          name="search"
          id="search"
          #search
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          (click)="searchProducts(search.value)"
          class="btn shadow-sm"
          type="submit"
        >
          Search
        </button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0 mt-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact</a>
        </li>
        <li
          (click)="dropdownOpen = !dropdownOpen"
          class="nav-item dropdown me-1"
        >
          <a class="nav-link dropdown-toggle" role="button">
            <i class="fa-solid fa-user me-1"></i> Account
          </a>
          <ul
            [ngStyle]="{
              display: dropdownOpen ? 'block' : 'none'
            }"
            class="dropdown-menu mb-2"
          >
            <li class="px-2 mb-2">
              <a
                *ngIf="!this.authService.isLoggedIn()"
                routerLink="/login"
                class="w-100 btn shadow-sm"
                >Login</a
              >
            </li>
            <li class="px-2 mb-2">
              <a
                *ngIf="!this.authService.isLoggedIn()"
                routerLink="/register"
                class="w-100 btn shadow-sm"
                >Register</a
              >
            </li>
            <li class="px-2 mb-2">
              <a
                (click)="this.authService.logout()"
                *ngIf="this.authService.isLoggedIn()"
                class="w-100 btn shadow-sm"
                >Logout</a
              >
            </li>
            <li *ngIf="this.authService.isLoggedIn()">
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                *ngIf="this.authService.isLoggedIn()"
                routerLink="/profile"
                class="dropdown-item"
                href="#"
                ><i class="fa-solid fa-user me-1"></i> My Account</a
              >
            </li>
            <li>
              <a
                *ngIf="this.authService.isLoggedIn()"
                routerLink="/orders"
                class="dropdown-item"
                href="#"
                ><i class="fa-solid fa-box me-1"></i> Orders</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/cart" class="btn shadow-sm position-relative"
            ><i class="fa-solid fa-cart-shopping me-1"></i
            ><span
              class="position-absolute left-75 top-0 translate-middle badge rounded-pill bg-danger"
              >0</span
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
