<main class="d-flex justify-content-center align-items-center">
  <div class="container bg-white text-dark">
    <!-- star product ui -->
    <div class="row">
      <div class="row mt-5 py-4 justify-content-between">
        <div class="col-md-4">
          <img
            class="img-fluid"
            id="bigimg"
            [src]="selectedImage"
            [alt]="product._name"
          />
          <div class="d-flex justify-content-between slide mt-5 mb-3">
            <img
              (click)="selectedImage = img._image"
              *ngFor="let img of product.images"
              class="img-fluid active"
              [src]="img._image"
              [alt]="product._name"
            />
          </div>
        </div>
        <div class="col-md-7">
          <h6 class="text-uppercase">
            {{ product._category }}
          </h6>
          <h1 class="fw-bolder display-1">{{ product._name }}</h1>
          <p class="lead fw-bolder">
            {{ product._rating }}
            <i class="text-warning fa-solid fa-star"></i>
          </p>
          <p class="lead">{{ product._description }}</p>
          <h3 *ngIf="product._discount" class="fs-2 fw-bold">
            ${{ (product._price / 100) * product._discount }}
            <span class="badge">{{ product._discount }}%</span> <br />
            <del class="fs-5 text-black-50">${{ product._price }}</del>
          </h3>
          <h3 class="display-6 fw-bold my-4" *ngIf="!product._discount">
            ${{ product._price }}
          </h3>
          <div class="d-block btn-group mb-4" role="group">
            <button (click)="plus()" type="button" class="btn">
              <i class="fa-solid fa-plus"></i>
            </button>
            <button class="disabled btn">{{ count }}</button>
            <button (click)="minus()" type="button" class="btn">
              <i class="fa-solid fa-minus"></i>
            </button>
          </div>
          <button (click)="add()" class="btn px-3 py-2">
            <i class="fa-solid fa-cart-plus"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- end product ui -->
    <!-- start Customer Feedback -->
    <div class="row shadow p-5">
      <h1>Customer Feedback</h1>
      <!-- reviews from backend -->
      <div *ngFor="let review of product.reviews" class="comments shadow mt-5">
        <p class="lead fw-bolder">
          {{ review.rating }}
          <i class="fa-solid fa-star text-warning"></i>
        </p>
        <p class="fs-5">
          {{ review.review }}
        </p>
        <p class="text-black-50">by {{ review.user_name }}</p>
      </div>
      <!-- will show after click -->
      <div class="comments shadow mt-5 d-none add">
        <p class="lead fw-bolder">
          {{ rate.value }}
          <i class="fa-solid fa-star text-warning"></i>
        </p>
        <p class="fs-5">
          {{ comment.value }}
        </p>
        <p class="text-black-50">by Wezaa</p>
      </div>
      <div class="row align-items-center mt-5">
        <div class="my-5 col-lg-1">
          <p class="fw-bolder">
            Rate <i class="fa-solid fa-star text-warning"></i>
          </p>
        </div>
        <!-- rate select -->
        <div class="col-lg-1">
          <select #rate class="form-select" aria-label="Default select example">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <div class="col-12 form">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          #comment
          style="height: 200px"
        ></textarea>

        <button (click)="submitFeedBack(comment.value)" class="btn my-4">
          Submit
        </button>
      </div>
    </div>
    <!-- end Customer Feedback -->
  </div>
</main>

<!-- [disabled]="comment.value === ''" -->
