<main class="d-flex justify-content-center align-items-center">
  <div class="container bg-white text-dark">
    <!-- star product ui -->
    <div class="row">
      <div class="row mt-5 py-4 justify-content-between">
        <!-- images -->
        <div class="col-md-4">
          <img
            class="img-fluid"
            id="bigimg"
            [src]="selectedImage"
            [alt]="product._name"
          />
          <div class="d-flex justify-content-between slide mt-5 mb-3">
            <img
              (click)="selectedImage = img._image"
              *ngFor="let img of product.images"
              class="img-fluid active"
              [src]="img._image"
              [alt]="product._name"
            />
          </div>
        </div>
        <!-- images description -->
        <div class="col-md-7">
          <h6 class="text-uppercase">
            {{ product._category }}
          </h6>
          <h1 class="fw-bolder display-1">{{ product._name }}</h1>
          <p class="lead fw-bolder">
            {{ product._rating }}
            <i class="text-warning fa-solid fa-star"></i>
          </p>
          <p class="lead">{{ product._description }}</p>
          <h3 *ngIf="product._discount" class="fs-2 fw-bold">
            {{ (product._price / 100) * product._discount | currency: "USD" }}
            <span class="badge">{{ product._discount }}%</span>
            <br />
            <del class="fs-5 text-black-50">{{
              product._price | currency: "USD"
            }}</del>
          </h3>
          <h3 class="display-6 fw-bold my-4" *ngIf="!product._discount">
            {{ product._price | currency: "USD" }}
          </h3>
          <div class="d-block btn-group mb-4" role="group">
            <button (click)="plus()" type="button" class="btn">
              <i class="fa-solid fa-plus"></i>
            </button>
            <button class="disabled btn">{{ count }}</button>
            <button (click)="minus()" type="button" class="btn">
              <i class="fa-solid fa-minus"></i>
            </button>
          </div>
          <button (click)="add()" class="btn px-3 py-2">
            <i class="fa-solid fa-cart-plus"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- end product ui -->
    <!-- start Customer Feedback -->
    <div class="row shadow p-5">
      <h1>Customer Feedback</h1>
      <!-- reviews from backend -->
      <div *ngFor="let review of product.reviews" class="comments shadow mt-5">
        <!-- {{ review.rating }}
          <i class="fa-solid fa-star text-warning"></i> -->
        <div class="d-flex justify-content-start align-items-center mb-2">
          <div *ngFor="let item of [].constructor(review.rating)">
            <i class="fa-solid fa-star text-warning me-2"></i>
          </div>
        </div>

        <p class="fs-5">
          {{ review.review }}
        </p>
        <p class="text-black-50">by {{ review.user_name }}</p>
      </div>
      <!-- will show after click -->
      <div #showComment class="comments shadow mt-5 add d-none">
        <div class="d-flex justify-content-start align-items-center mb-2">
          <div *ngFor="let item of [].constructor(5)">
            <i class="fa-solid fa-star text-warning me-2"></i>
          </div>
        </div>
        <p class="fs-5">
          {{ comment.value }}
        </p>
        <p class="text-black-50">by Wezaa</p>
      </div>

      <form>
        <div class="mt-5">
          <p class="fw-bolder lead mt-5 fs-2">Leave a review</p>
          <!-- rate select -->
          <div class="d-flex justify-content-start mb-4">
            <ngx-star-rating [id]="'rating'"></ngx-star-rating>
          </div>

          <div class="col-12 form">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              #comment
              style="height: 200px"
            ></textarea>

            <button class="btn my-4">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- end Customer Feedback -->
  </div>
</main>

<!-- (click)="submitFeedBack(comment.value)" -->
