/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";

@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";


*,
::after,
::before{
  margin: 0;
  padding: 0;
}

.text-start {
  text-align: start !important;
}

.text-end {
  text-align: end !important;
}


:root {
  --primary-bg-color: #020916;
  --secondery-bg-color: white;
}

html,
body {
  height: 100%;
  width: 100% !important;
  max-width: 100% !important;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth !important;
  background-color: var(--primary-bg-color);
}